<!DOCTYPE html>
<html>
<head>
    <title>File Entry</title>
</head>
<body>

<%- include("partials/header") %>
<%- include("partials/file_flow_body") %>
<%- include("partials/footer") %>

</body>
</html>