<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
</head>
<body>


<%- include("partials/auth_form", {
  action: "/forget_password",
  fields: ["email", "password", "confirmPassword"],
  buttonText: "Reset Password"
}) %>

</body>
</html>